# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# Environment variables / secrets
.envs

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log